<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">dummy</property>
		<property name="hibernate.connection.url">jdbc:Oracle:thin:@//localhost:1521/ORCLCDB.localdomain</property>
		<property name="hibernate.connection.username">dummy</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- (Puede sobreescribir los datos de tu bbdd) -->
		<!--  <property name="hibernate.hbm2ddl.auto">create</property>  -->
		<mapping class="modelo.Aptitud" />
		<mapping class="modelo.Organizacion" />
		<mapping class="modelo.Proyecto" />
		<mapping class="modelo.Recurso" />
		<mapping class="modelo.Tarea" />
		<mapping class="modelo.Voluntario" />
		<mapping class="modelo.TareaAptitud" />
		<mapping class="modelo.VoluntarioAptitud" />
		<mapping class="modelo.VoluntarioTarea" />
	</session-factory>
</hibernate-configuration>
